<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">


{{#each articles}}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <a href="{{link}}">{{link}}</a>
  </div>
  </div>
<a href= "/articles/{{_id}}" class="btn btn-info">More</a>
{{/each}}

<script src="/js/index.js"></script>





    
  